.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 0.9375em;
  bottom: 0.9375em;
  z-index: 999;
  background: #eed110;
  width: 2.5em;
  height: 2.5em;
  border-radius: 0.25em;
  transition: all 0.5s;
  border: none;
}

.back-to-top i {
  font-size: 1.75em;
  color: #0c0f0a;
  line-height: 0;
}

.back-to-top:hover {
  background: #0c0f0a;
}

.back-to-top:hover i {
  color: #eed110;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

