.error .error-container {
  position: relative;
  overflow: hidden;
}

.error .error-background {
  width: 80em;
  height: 50em;
  margin-left: -40.625em;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
}

.error .error-background::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  pointer-events: none;
  width: 100%;
  height: 51.875em;
  background: linear-gradient(to right, #1a1a1a 0%, rgba(255, 255, 255, 0) 20%),
    linear-gradient(to left, #1a1a1a 0%, rgba(255, 255, 255, 0) 40%),
    linear-gradient(to top, #1a1a1a 30%, rgba(255, 255, 255, 0) 80%),
    linear-gradient(to bottom, #1a1a1a 0%, rgba(255, 255, 255, 0) 15%);
}

.error .error-content-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100vh;
  padding-bottom: 23%;
  padding-right: 20%;
}

.error .error-content {
  position: relative;
  text-align: center;
  color: #fff;
  width: 40%;
  padding: 1.25em;
  border-radius: 0.625em;
}

.error .error-title {
  font-size: 6rem;
  color: #eed110;
  margin: 0;
}

.error .error-description {
  font-size: 1.5rem;
  color: #fff;
  margin-top: 0.625em;
}

.error .error-description a {
  display: inline-block;
  margin-top: 1.25em;
  padding: 0.625em 1.25em;
  background-color: #eed110;
  color: #ffffff;
  text-decoration: none;
  border-radius: 0.3125em;
  transition: background-color 0.5s ease;
}

.error .error-description a:hover {
  background-color: #2980b9;
}

@media screen and (max-width: 48em) {
  .error .error-body {
    padding: 1.25em;
  }

  .error .error-title {
    font-size: 4rem;
  }

  .error .error-description {
    font-size: 1.2rem;
  }

  .error .error-description a {
    padding: 0.5em 1em;
  }
}

@media screen and (max-width: 475px) {
  .error .error-body {
    width: 80%;
    padding: 0.9375em;
  }

  .error .error-title {
    font-size: 2rem;
  }

  .error .error-description {
    font-size: 0.8rem;
  }

  .error .error-description a {
    padding: 0.375em 0.75em;
  }
}