/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
.hero-container {
  position: relative;
  overflow: hidden;
}

.hero-background {
  width: 80em;
  height: 50em;
  margin-left: -40.625em;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
}

.hero-background::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  pointer-events: none;
  width: 100%;
  height: 51.875em;
  background: linear-gradient(to right, #1a1a1a 0%, rgba(255, 255, 255, 0) 40%),
    linear-gradient(to left, #1a1a1a 0%, rgba(255, 255, 255, 0) 40%),
    linear-gradient(to top, #1a1a1a 30%, rgba(255, 255, 255, 0) 80%),
    linear-gradient(to bottom, #1a1a1a 0%, rgba(255, 255, 255, 0) 15%);
}

.hero-movie-title {
  position: absolute;
  top: 45%;
  right: 5em;
  transform: rotate(-90deg) translateX(50%);
  transform-origin: right center;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.2);
  white-space: nowrap;
  cursor: pointer;
  z-index: 1;
  transition: all 0.3s ease;
}

.hero-movie-title:hover,
.hero-movie-title:focus,
.hero-movie-title:active {
  color: rgba(255, 255, 255, 0.3);
}

.hero-content {
  position: relative;
  text-align: center;
  color: #fff;
  padding-top: 22em;
}

.hero-title > h1 {
  font-weight: 500;
  text-shadow: 0.125em 0.125em 0.25em #1a1a1a;
}

.hero-title {
  margin-bottom: 1em;
}

.hero-button {
  margin-bottom: 1em;
}

.hero-button > button,
.hero-button > button::after {
  position: relative;
  width: 285px;
  height: 52.5px;
  font-size: 27px;
  font-family: 'Bebas Neue';
  background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 55px;
  box-shadow: 6px 0 0 #00e6f6;
  outline: transparent;
}

.hero-button > button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: 'Get Started';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff013c 5%);
  text-shadow: -3px -3px 0 #f8f005, 3px 3px 0 #00e6f6;
  clip-path: var(--slice-0);
}

.hero-button > button:hover::after {
  animation: glitch 1s steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

.hero-subtitle {
  display: inline-flex;
  color: #789;
}

.hero-subtitle > span {
  text-indent: 6.875em;
  background-position: 0 0;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  width: 1.625em;
  height: 1.625em;
  background-size: 1.625em 1.625em;
  background-repeat: no-repeat;
  opacity: 0.8;
}

@media screen and (max-width: 48em) {
  .hero-background {
    top: 0.125em;
  }
  
  .hero-background::before {
    width: 100%;
    height: 48.75em;
    background: linear-gradient(to top, #1a1a1a 30%, rgba(255, 255, 255, 0) 60%),
      linear-gradient(to bottom, #1a1a1a 0%, rgba(255, 255, 255, 0) 20%);
  }

  .hero-movie-title {
    position: absolute;
    top: 1.875em;
    right: 1.875em;
    transform: rotate(0deg);
    font-size: 1em;
  }

  .hero-content {
    position: relative;
    text-align: center;
    color: #fff;
    padding-top: 25em;
  }  

  .hero-title > h1 {
    margin: 0;
    font-size: 1.375em;
    font-weight: 500;
    text-shadow: 0.0625em 0.0625em 0.125em #1a1a1a;
  }

  .hero-title {
    margin-bottom: 0.625em;
  }

  .hero-button {
    margin-bottom: 0.225em;
  }

  .hero-button > button {
    width: 160px;
    height: 31.5px;
    font-size: 16.2px;
    line-height: 31px;
  }

  .hero-button > button::after {
    width: 171px;
    height: 31.5px;
    font-size: 16.2px;
    line-height: 31px;
  }

  .hero-subtitle {
    font-size: 0.75em;
    margin-top: 0;
  }
}