.search-bar .search-input {
  position: relative;
  margin: 1em;
}

.search-bar .search-input input[type="text"] {
  background-color: #232323;
  height: 3.5em;
  border-radius: 1.5em;
  border: none;
  color: #fff;
  font-size: 0.875em;
  padding: 0 1em 0 3.5em;
}

.search-input .search-icon {
  position: absolute;
  color: #666;
  left: 1.25em;
  top: 1em;
  width: 1em;
  height: 1em;
  font-size: 1em;
}

.search-bar .floating-results-container {
  position: relative;
  margin-left: 6%;
}

@media (max-width: 991px) {
  .search-bar .search-input input[type="text"] {
    height: 3em;
    font-size: 0.8em;
  }

  .search-bar .search-icon {
    width: 0.8em;
    height: 0.8em;
    left: 1em;
    top: 0.8em;
  }
}

@media (max-width: 550px) {
  .search-bar .floating-results {
    display: flex;
    justify-content: center;
  }

  .search-bar .search-input {
    display: block;
    width: 100%;
    margin-bottom: 0;
  }

  .search-bar .search-input input[type="text"] {
    width: 90%;
  }

  .search-bar {
    order: 7;
  }
}